/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator__container {
  max-width: 390px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}

h2,
h3 {
  font-weight: 400;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  color: #8b8c9e;
}

h3 {
  font-weight: 300;
}

.calculator__body {
  width: clamp(18.75rem, 17.386rem + 6.82vw, 22.5rem);
  border-radius: 25px;
  background-color: #1c2135;
  overflow: hidden;
}

.calculator__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  background-color: #24263b;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.calculator__main {
  flex-grow: 1;
}

.calculator__gender {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.male,
.female {
  padding: 24px 24px 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  background-color: #24263b;
  border-radius: 12px;
  cursor: pointer;
}

.female {
  padding: 24px 40px;
}

.male img {
  width: 96px;
  aspect-ratio: 1;
}

.female img {
  width: 66px;
  height: 102px;
}

.calculator__height {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333244;
  border-radius: 12px;
  margin-top: 25px;
  padding: 24px 25px 65px;
}

#height__label {
  margin: 6px 0 20px;
  font-weight: 700;
  font-size: 40px;
}

#height__label span {
  font-size: 15px;
  font-weight: 500;
}

.height__range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 270px;
  height: 2px;
  outline: none;
  margin: 20px 0;
  background: transparent;
}

/* Стили для трека (дорожеки) */
.height__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
}

/* Стили для трека при активном взаимодействии */
.height__range:active::-webkit-slider-runnable-track {
  background: #e83d67; /* Розовый при перетаскивании */
}

/* Стили для бегунка */
.height__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #e83d67;
  border-radius: 100%;
  margin-top: -3px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.height__range::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #e83d67;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.15s ease;
}

/* Ховер-эффекты */
.height__range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.height__range::-moz-range-thumb:hover {
  transform: scale(1.1);
}

.calculator__parameters {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.calculator__weight,
.calculator__age {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 155px;
  height: 180px;
  background-color: #24263b;
}

.calculator__weight label,
.calculator__age label {
  font-weight: 700;
  font-size: 40px;
  margin: 5px 0 20px;
}

.btn {
  display: flex;
  column-gap: 42px;
}

.btn__plus,
.btn__minus {
  padding: 8px 15px;
  font-weight: 600;
  font-size: 26px;
  background-color: #8b8c9e;
  border-radius: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.calculator__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 25px;
  background-color: #e83d67;
}

.btn__calculate {
  font-weight: 600;
  font-size: 32px;
}
